* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
    line-height: 1.7;
    color: #323330;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container h2 {
    font-size: 1.2rem;
    font-weight: normal;
}